@import "~@capillarytech/cap-style-guide/styles/main";

  input.ant-input{
    padding: $CAP_SS_VS 0;
    padding-left: 8px;
    height: $CAP_SS_VL;
    line-height: $CAP_SS_R;
    border: 0 !important;
    border-bottom: 1px solid $CAP_SC04 !important;
    border-radius: 0 !important;
    outline: none;
    box-shadow: none;
    font-size: $CAP_SS_S3;
    width: 100%;
  }

  input.ant-input:hover {
    border-bottom: 1px solid $CAP_PR02 !important;
    box-shadow: 0 1px 1px -1px $CAP_PR02;
  }

  input.ant-input:focus{
    border-bottom: 1px solid $CAP_PR02 !important;
    box-shadow: 0 1px 1px -1px $CAP_PR02;
  }
  input.ant-input-disabled{
    pointer-events: none;
    border-bottom: 1px solid $CAP_SC03 !important;
    background-color: $CAP_SC06 !important;
  }
.error, .warning {
  position: relative;
  input.ant-input {
    border: 0 !important;
    border-bottom: 1px solid $CAP_WARN !important;
    padding-top: 0;
    padding-bottom: $CAP_SS_S;
    height: $CAP_SS_VL;
    line-height: $CAP_SS_R;
  }
  input.ant-input:focus{
    border-bottom: 1px solid $CAP_PR02 !important;
  }
  input.ant-input:hover{
    border-bottom: 1px solid $CAP_PR02 !important;

  }
  .error-message{
    position: absolute;
    left: 0;
    top: $CAP_SS_R;
    color: $CAP_WARN;
    overflow: hidden;
    pointer-events: none;
    font-size: $CAP_SS_S2;
    line-height: $CAP_SS_S;
    z-index: 1;
  }
}

.ant-input-affix-wrapper .ant-input-prefix {
  left: 0;
}


.ant-input-affix-wrapper .ant-input-suffix {
  right: $CAP_SS_VS;
  padding-left: $CAP_SS_VS;
}
