.search-results-popover {
  padding-top: 0 !important;
  left: 16px !important;
  width: 378px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0px;
  }
  .content {
    min-height: 192px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content.no-results {
    color: #f34f56;
  }
  .portal-url-container {
    border-top: 1px solid #d6d6d6;
    padding: 8px 0 8px 16px;
    a {
      color: #2e89df;
    }
  }
  .links-content {
    padding: 8px 0 8px 0;
    font-size: 14px;
    max-height: 390px;
    overflow-y: auto;
    .group-heading {
      font-size: 12px;
      color: #707070;
      margin-bottom: 8px;
      margin-top: 8px;
      padding-left: 16px;
    }
    .adv-search-message {
      padding-left: 16px;
      font-size: 12px;
      color: #707070;
      margin-top: 12px;
    }
    .group-children {
      .link-items {
        padding-left: 32px;
      }
    }
    .link-items {
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 16px;
      a {
        color: #2e89df;
      }
      .new-tab-link-wrapper {
        display: none;
        height: 32px;
        width: 38px;
        align-items: center;
        justify-content: center;
      }
      .new-tab-link-wrapper .material-icons {
        font-size: 16px;
      }
    }
    .link-items:hover {
      background-color: #ebebeb;
      .new-tab-link-wrapper {
        display: flex;
        border-left: 1px solid #fff;
      }
    }
  }
}
