// Color Palette - Primary Colors

$CAP_PRIMARY: (
  base: #47af46,
  hover: #1f9a1d,
  disabled: #a1d8a0
);

// Color Palette - Secondary Colors

$CAP_SECONDARY: (
  base: #2466ea,
  light: rgba(#2466ea, 0.1)
);

// Color Palette - Custom Colors
$CAP_ORANGE: #f87d23;
$CAP_YELLOW: #fec52e;
$CAP_BLUE: #23cccc;
$CAP_PURPLE: #8517e5;
$CAP_PINK: #e51fa3;
$CAP_RED: #ea213a;
$CAP_ICON: #7a869a;

// Color Palette - GREYS
$CAP_G01: #091e42;
$CAP_G02: #253858;
$CAP_G03: #42526e;
$CAP_G04: #5e6c84;
$CAP_G05: #97a0af;
$CAP_G06: #b3bac5;
$CAP_G07: #dfe2e7;
$CAP_G08: #ebecf0;
$CAP_G09: #f4f5f7;
$CAP_G10: #fafbfc;

// Fonts
$FONT_FAMILY: "Roboto", sans-serif;
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;

// Sizes & Spacings (1em converts to 16px on desktop)

$CAP_SS_VS: 0.5em;
$CAP_SS_S: 1em;
$CAP_SS_R: 1.5em;
$CAP_SS_L: 2em;
$CAP_SS_VL: 2.5em;
$CAP_NSS_S1: -0.5rem;
$CAP_SS_S2: 0.625rem; //10px
$CAP_SS_S3: 0.875rem; //14px
$CAP_SS_R1: 1.25rem; //20px
$CAP_SS_R3: 1.75rem; //28px
$CAP_SS_L2: 2.25rem; //36px
